<mat-card>
  <mat-card-content>
    <mat-card-title>Balance</mat-card-title>
    <mat-card-subtitle>Cálculo entre ingresos y gastos lorem</mat-card-subtitle>
    <div >
      <apx-chart 
        [series]="VisitorChartOptions.series"
        [chart]="VisitorChartOptions.chart"
        [labels]="VisitorChartOptions.labels"
        [responsive]="VisitorChartOptions.responsive"
        [tooltip]="VisitorChartOptions.tooltip"
        [legend]="VisitorChartOptions.legend"
        [colors]="VisitorChartOptions.colors"
        [dataLabels]="VisitorChartOptions.dataLabels"
        [plotOptions]="VisitorChartOptions.plotOptions"
        [stroke]="VisitorChartOptions.stroke"
      >
      </apx-chart>
    </div>
  </mat-card-content>
  <hr />
  <mat-card-content>
    <ul class="list-inline text-center">
      <li>
        <h6 class="text-verde m-0">
          <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Ingresos: {{cantIng }}€
        </h6>
      </li>
      
    </ul>
  </mat-card-content>
</mat-card>
