.botones{
    border: 1px solid #bbbaba;
    margin-bottom: 5px;
}
.sobre:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}
.sobre:focus{
    background-color: #f5f5f5;
    cursor: pointer;
}
.select{
    background-color: #dbdbdb;
}