<div class="row">
  <div class="col-12 text-primary" *ngIf="resp?.length === 0">
    <mat-card class="oh text-center little-profile">
        <mat-card-content>
         No hay créditos registrados.
        </mat-card-content>
      </mat-card>
  </div>
  <div class="col-6 col-md-3 text-primary" *ngFor="let saving of resp">
    <mat-card class="oh text-center little-profile">
      <img
        mat-card-image
        src="assets/images/background/piggy.png"
        alt="Photo of a Shiba Inu"
        style="height: 80px; margin-bottom: 50px;"
      />
      <mat-card-content>
        <div class="pro-img">
          <img
            src="{{ imgUrl }}{{ saving.img }}"
            width="80"
            alt="user"
            class="img-circle"
          />
        </div>
        <h3 class="m-b-0">{{ saving.origin }}</h3>
        <mat-card-actions class="db">
          <button mat-raised-button color="warn" (click)="openDialog(saving)">
            Detalles
          </button>
        </mat-card-actions>
        <div class="row m-t-30">
          <div class="col-4">
            <h3 class="m-0 font-light">{{ saving.cant  | currency:'EUR':'symbol':'1.0-0' }}</h3>
            <small>Cuota</small>
          </div>
          <div class="col-4">
            <h3 class="m-0 font-light">{{ saving.cantPendiente  | currency:'EUR':'symbol':'1.0-0' }}</h3>
            <small>Objetivo</small>
          </div>
          <div class="col-4">
            <h3 class="m-0 font-light">{{ saving.recibosPendientes  | number:'1.0-0' }}</h3>
            <small>Rec.Pen.</small>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

