
      <mat-card class="oh text-center little-profile">
        <img mat-card-image src="assets/images/background/piggy.png" alt="Photo of a Shiba Inu" style="height: 30px; margin-bottom: 70px;">
        <mat-card-content>
            <div class="pro-img">
                <img src="" width="80" alt="user" class="img-circle">
            </div>
            <h3 class="m-b-0"> </h3>
            <h6 class="m-t-0 "> </h6>
            <mat-card-actions class="db">
                <button mat-raised-button color="warn" >Detalles</button>
                
            </mat-card-actions>
            <div class="row m-t-30">
                <div class="col-4">
                    <h3 class="m-0 font-light">€</h3>
                    <small>Actual</small>
                </div>
                <div class="col-4">
                    <h3 class="m-0 font-light">€</h3>
                    <small>Objetivo</small>
                </div>
                <div class="col-4">
                    <h3 class="m-0 font-light"></h3>
                    <small>Likes</small>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

