.spacer {
    flex: 1;
  }
  
  mat-toolbar {
    color: white; /* Cambia el color del texto */
    font-size: 18px; /* Cambia el tamaño de fuente */
  }

  .bg-color{
    background-color: #eef5f9;
  }