<div class="main-container bg-white">
  <mat-toolbar class="topbar telative">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <b>
          <img
            src="../../assets/images/logo-icon.png"
            alt="homepage"
            class="dark-logo"
          />
          <img
            src="../../assets/images/logo-light-icon.png"
            alt="homepage"
            class="light-logo"
          />
        </b>
        <span class="text-logo-icon" fxShow="false" fxShow.gt-xs>
          <img
            src="../../assets/images/logo-text.png"
            alt="homepage"
            class="dark-logo"
          />
          <!-- Light Logo text -->
          <img
            src="../../assets/images/logo-light-text.png"
            class="light-logo"
            alt="homepage"
          />
        </span>
      </a>
    </div>
    <button
      mat-icon-button
      value="sidebarclosed"
      (mouseenter)="showMenu ? (showMenu = false) : (showMenu = true)"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <div class="d-flex align-items-center ml-auto">
      <button
        mat-icon-button
        class="m-r-5 p-0 d-flex jc-c align-items-center"
        (click)="openDialog()"
        matTooltip="Login"
        aria-label="Button that displays a tooltip when focused or hovered over"
      >
        <mat-icon> person_pin</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div class="carrusel mi-div-oculto">
    <app-carrusel ></app-carrusel>

  </div>
  <div class="carrusel mi-div-oculto2">
    <app-carrusel [opcion] = true></app-carrusel>

  </div>
  <div class="row bg-white">
    <div class="col-12 center">
      <h2>¿De que se trata?</h2>
    </div>
  </div>
  <div class="row bg-white center">
    <div class="col-md-2 rounded border" (mouseenter)="setPanel('mov')">
      <div class="row" style="margin-left: 30px">
        <div class="col-2 center">
          <img src="../../assets/images/background/flechas.png" alt="" />
        </div>
        <div class="col">
          <p>
            <b>Movimientos</b><br /><small class="text-verde_2">
              ver más ></small
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2 rounded border" (mouseenter)="setPanel('aho')">
      <div class="row" style="margin-left: 30px">
        <div class="col-2 center">
          <img src="../../assets/images/background/hucha.png" alt="" />
        </div>
        <div class="col">
          <p>
            <b> Ahorros</b><br /><small class="text-verde_2"> ver más ></small>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2 rounded border" (mouseenter)="setPanel('pro')">
      <div class="row" style="margin-left: 30px">
        <div class="col-2 center">
          <img src="../../assets/images/background/avion.png" alt="" />
        </div>
        <div class="col">
          <p>
            <b> Proyectos</b><br /><small class="text-verde_2">
              ver más ></small
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2 rounded border" (mouseenter)="setPanel('per')">
      <div class="row" style="margin-left: 30px">
        <div class="col-2 center">
          <img src="../../assets/images/background/personal.png" alt="" />
        </div>
        <div class="col">
          <p>
            <b> Datos personales</b><br /><small class="text-verde_2">
              ver más ></small
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin: 50px 10px 10px">
    <div class="col  rounded">
      <div class="row">
        <div class="col-md-4">
          <div *ngIf="panel === ''" >
            
          </div>
          <div *ngIf="panel === 'mov'" >
            <ul class="ul">
              <li>
                <h6>
                  Ingresos
                </h6>
              </li>
              <li>
                <h6>
                  Gastos
                </h6>
              </li>
            </ul>
          </div>
          <div *ngIf="panel === 'aho'" >
            <ul class="ul">
              <li>
                <h6>
                  Huchasaaaaaaaaaaaaaa
                </h6>
              </li>
              <li>
                <h6>
                 Créditosaaaaaaaaa
                </h6>
              </li>
            </ul>
          </div>
          <div *ngIf="panel === 'pro'" >
            <ul class="ul">
              <li>
                <h6>
                  Simplifica el registro y categorización de tus ingresos para una gestión financiera organizada y eficiente.
                </h6>
              </li>
              <li>
                <h6>
                  Gestiona tus gastos de manera clara y ordenada. Registra y categoriza tus desembolsos para un control total de tus finanzas familiares.
                </h6>
              </li>
            </ul>
          </div>
          <div *ngIf="panel === 'per'" >
            <ul class="ul">
              <li>
                <h6>
                  Te permite ingresar y categorizar sus ingresos y gastos de
                  manera organizada.
                </h6>
              </li>
              <li>
                <h6>
                  Ofrece gráficos y reportes que muestran de manera clara y
                  comprensible la distribución de los ingresos y gastos.
                </h6>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-4 mi-div-oculto" >
          <img src="../../assets/images/background/laptop.png" alt="" />
        </div>
        <div class="col-md-4 ">
          <div *ngIf="panel === 'mov'" >
            <ul class="ul">
              <li>
                <h6>
                  Simplifica el registro y categorización de tus ingresos para una gestión financiera organizada y eficiente.
                </h6>
              </li>
              <li>
                <h6>
                  Gestiona tus gastos de manera clara y ordenada. Registra y categoriza tus desembolsos para un control total de tus finanzas familiares.
                </h6>
              </li>
            </ul>
          </div>
          <div *ngIf="panel === 'aho'" >
            <ul class="ul">
              <li>
                <h6>
                  Te permite ingresar y categorizar sus ingresos y gastos de
                  manera organizada.
                </h6>
              </li>
              <li>
                <h6>
                  Ofrece gráficos y reportes que muestran de manera clara y
                  comprensible la distribución de los ingresos y gastos.
                </h6>
              </li>
            </ul>
          </div>
          <div *ngIf="panel === 'pro'">
            <ul class="ul">
              <li>
                <h6>
                  Te permite ingresar y categorizar sus ingresos y gastos de
                  manera organizada.
                </h6>
              </li>
              <li>
                <h6>
                  Ofrece gráficos y reportes que muestran de manera clara y
                  comprensible la distribución de los ingresos y gastos.
                </h6>
              </li>
              <li>
                <h6>
                  Permite acceder a un historial completo de transacciones para
                  un análisis detallado.
                </h6>
              </li>
            </ul>
          </div>
          <div *ngIf="panel === 'per'">

            <ul class="ul">
              <li>
                <h6>
                  Te permite ingresar y categorizar sus ingresos y gastos de
                  manera organizada.
                </h6>
              </li>
              <li>
                <h6>
                  Ofrece gráficos y reportes que muestran de manera clara y
                  comprensible la distribución de los ingresos y gastos.
                </h6>
              </li>
              <li>
                <h6>
                  Permite acceder a un historial completo de transacciones para
                  un análisis detallado.
                </h6>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="menu-container menu"
    *ngIf="showMenu"
    (mouseleave)="showMenu ? (showMenu = false) : (showMenu = true)"
  >
    <div class="row">
      <div class="col center">
        <ul class="lista-horizontal">
          <li>
            <a (click)="openDialogRegister()">Registro</a>
          </li>
          <li>
            <a href="">Utilidades</a>
          </li>
          <li>
            <a href="">Porfolio</a>
          </li>
          <!-- Agrega más elementos según sea necesario -->
        </ul>
      </div>
    </div>
  </div>
</div>
