<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<div class="user-profile" style="background: url({{fondoUrl}}) no-repeat;background-size: cover;">
    <!-- User profile image -->
    <div class="profile-img"> <img [src]=imgUrl alt="user"> </div>
    <!-- User profile text-->
    <!-- ============================================================== -->
    <!-- Profile - style you can find in header.scss -->
    <!-- ============================================================== -->
    <div class="profile-text"><a [matMenuTriggerFor]="sdprofile" class=""> {{user.name | slice:0:20}}{{user.name.length > 20 ? '...':''}} <i
                class="ti-angle-down font-12 m-l-5"></i></a></div>
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <button mat-menu-item>
            <mat-icon fontIcon="settings"></mat-icon> Settings </button>
        <button mat-menu-item>
            <mat-icon fontIcon="account_box"></mat-icon> Profile </button>
        <button mat-menu-item>
            <mat-icon fontIcon="notifications_off"></mat-icon> Disable notifications </button>
        <button mat-menu-item>
            <mat-icon fontIcon="exit_to_app"></mat-icon> Sign Out </button>
    </mat-menu>

</div>
<mat-nav-list appAccordion>
    <mat-list-item   routerLinkActive="selected">
        
        <a class="" appAccordionToggle routerLink="/dashboard"  class="bg-gris " >
            <mat-icon>insert_chart</mat-icon>
            <span>Dashboard</span>
            <span fxFlex></span>

        </a>
        


    </mat-list-item>
    <mat-list-item   routerLinkActive="selected" >
        
        <a class="" appAccordionToggle routerLink="gestion"  class="bg-gris">
            <mat-icon>brightness_5</mat-icon>
            <span>Día a día</span>
            <span fxFlex></span>

        </a>
        


    </mat-list-item>
    <mat-list-item   routerLinkActive="selected" >
        <a appAccordionToggle routerLink="prestamos"  class="bg-gris">
            <mat-icon>brightness_5</mat-icon>
            <span>Futuro</span>
            <span fxFlex></span>
        </a>
    </mat-list-item>
    <!-- <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected">
        
        <a class="" appAccordionToggle [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'">
            <mat-icon>{{ menuitem.icon }}</mat-icon>
            <span>{{ menuitem.name }}</span>
            <span fxFlex></span>
        </a>
    </mat-list-item> -->
    

</mat-nav-list>