<div class="row">
    <div class="col-12 text-primary" *ngIf="resp && resp?.length === 0">
      <mat-card class="oh text-center little-profile">
        <mat-card-content> No hay proyectos almacenados. </mat-card-content>
      </mat-card>
    </div>
    <div class="col-6 col-md-4 text-primary " *ngFor="let saving of resp">
      
        <mat-card class="oh text-center little-profile encima" (mouseenter)="setProject(saving)" (mouseleave)="setProject(null)">
          <img
            mat-card-image
            src="assets/images/background/piggy.png"
            alt="Photo of a Shiba Inu"
            style="height: 30px; margin-bottom: 70px"
          />
          <mat-card-content>
            <div class="pro-img">
              <img
                src="{{ saving.img }}"
                width="80"
                alt="user"
                class="img-circle"
              />
            </div>
            <h3 class="m-b-0"></h3>
            <h6 class="m-t-0">{{ saving.titulo }}</h6>
            <mat-card-actions class="db">
              <button mat-raised-button color="warn" (click)="openDialog(saving)" matTooltip="Realizar nuevo aporte"
              aria-label="Button that displays a tooltip when focused or hovered over">
                
                Aporte
              </button>
            </mat-card-actions>
            <div class="row m-t-30">
              <div class="col-md-6">
                <h3 class="m-0 font-light">{{ saving.actual }}€</h3>
                <small>Actual</small>
              </div>
              
              <div class="col-md-6" *ngIf="saving.cantFinish">
                <h3 class="m-0 font-light">{{ saving.cantFinish - saving.cant }}€</h3>
                <small>Cuota</small>
              </div>
              <div class="col-md-6 text-center" *ngIf="!saving.cantFinish">
                <h3 class="m-0 font-light">-</h3>
                <small >Cuota</small>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
    </div>
  </div>
  
  