<mat-card class="oh text-center little-profile">
  <img
    mat-card-image
    src="assets/images/background/piggy.png"
    alt="Photo of a Shiba Inu"
    style="height: 100px"
  />
  <mat-card-content>
    <div class="pro-img" aria-label="Button that displays a tooltip when focused or hovered over" >
      <img src="assets/images/logo2.png" alt="user" class="img-circle up" />
    </div>
    <div class="center">
      <img src="assets/images/logo-text.png" />

    </div>
  <form
    style="margin-left: 10px"
    id="loginform"
    [formGroup]="form"
    (ngSubmit)="register()"
  >
    <div class="form-group m-t-40">
      <div class="col-xs-12">
        <mat-form-field>
          <input
            matInput
            formControlName="email"
            color="primary"
            placeholder="email"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <mat-form-field>
          <input
            matInput
            type="password"
            formControlName="password"
            color="primary"
            placeholder="Contraseña"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="form-group m-t-40">
      <div class="col-xs-12">
        <mat-form-field>
          <input
            matInput
            formControlName="name"
            color="primary"
            placeholder="Nombre"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="form-group ">
      <div class="col-xs-12">
        <mat-radio-button [value]=true  formControlName="cond">Acepto <a     
          (click)="openDialogModal()"
          ><b>condiciones</b></a></mat-radio-button>
      </div>
    </div>
    <div class="form-group text-center m-t-20">
      <div class="col-xs-12">
        <button mat-raised-button color="primary" type="submit">Unirte</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
        <div
          #googleBtn
          id="buttonDiv"
          class="d-flex justify-content-center"
        ></div>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
        <div
          #googleBtn
          id="buttonDiv"
          class="d-flex justify-content-center"
        ></div>
      </div>
    </div>
    <div class="form-group m-b-0">
      <div class="col-sm-12 text-center">
        ¿Ya tienes cuenta?
        <a
          (click)="openDialogLogin()"
          class="text-danger m-l-5 link-primary pinter"
          ><b>Accede</b></a
        >
      </div>
    </div>
  </form>
  </mat-card-content></mat-card>
