<div style="margin: 5vh">
  <div class="row" *ngIf="data === 'mov'">
    <div class="col">
      <p>
        Nuestro objetivo principal es proporcionar un seguimiento detallado de
        los ingresos y gastos, lo que permite a los usuarios tener un control
        completo sobre su situación financiera. Algunas características comunes
        de estas aplicaciones incluyen:
      </p>

      <ul>
        <li>
          <b>Registro de Ingresos y Gastos:</b> Permite a los usuarios ingresar
          y categorizar sus ingresos y gastos de manera organizada.
        </li>

        <li>
          <b>Categorización y Etiquetado:</b> Permite asignar categorías y
          etiquetas a cada transacción para una clasificación más precisa y
          detallada.
        </li>

        <li>
          <b>Visualización de Datos:</b> Ofrece gráficos y reportes que muestran
          de manera clara y comprensible la distribución de los ingresos y
          gastos.
        </li>

        <li>
          <b>Presupuestos:</b> Permite establecer metas y presupuestos para
          diferentes categorías, lo que ayuda a mantener el control de los
          gastos.
        </li>

        <li>
          <b>Recordatorios y Notificaciones:</b> Puede enviar recordatorios
          sobre fechas de vencimiento de pagos o alertas sobre el estado de las
          finanzas.
        </li>

        <li>
          <b>Gestión de Cuentas Bancarias:</b> Permite enlazar cuentas bancarias
          para un seguimiento automatizado de las transacciones.
        </li>

        <li>
          <b>Calculadora de Ahorros:</b> Ayuda a establecer metas de ahorro y
          proporciona cálculos sobre cuánto se necesita ahorrar para alcanzar
          esos objetivos.
        </li>

        <li>
          <b>Histórico de Transacciones:</b> Permite acceder a un historial
          completo de transacciones para un análisis detallado.
        </li>

        <li>
          <b>Exportación de Datos:</b> Puede generar informes o exportar datos
          en diferentes formatos para un análisis más profundo.
        </li>

        <li>
          <b>Seguridad y Privacidad:</b> Debe contar con medidas de seguridad
          para proteger la información financiera del usuario.
        </li>
      </ul>
      En resumen, una aplicación de gestión de ingresos y gastos es una
      herramienta valiosa para ayudar a las personas a mantener un control
      efectivo sobre sus finanzas personales, permitiendo un manejo más
      eficiente de los ingresos y gastos, y facilitando la toma de decisiones
      financieras informadas.
    </div>
  </div>

  <div class="row" *ngIf="data === 'aho'">
    <div class="col">
      <p>
        Descubre una nueva forma de administrar tus finanzas personales con
        nuestra aplicación. Te ofrecemos una experiencia completa y sencilla
        para que tomes el control total de tu economía doméstica. Desde ingresos
        y gastos hasta metas de ahorro, hemos diseñado cada característica
        pensando en tu bienestar financiero.
      </p>
      <p>Características Destacadas:</p>
      <ul>
        <li>
          <b>Ahorro Inteligente:</b> Transforma tus sueños en realidad con
          nuestras herramientas de ahorro inteligente. Establece metas, sigue tu
          progreso y celebra cada hito alcanzado.
        </li>
        <li>
          <b>Presupuestos Personalizados:</b> Crea presupuestos personalizados
          que se ajusten a tu estilo de vida. Analiza y optimiza tus gastos para
          maximizar tu capacidad de ahorro.
        </li>
        <li>
          <b>Notificaciones Personalizadas:</b> Recibe notificaciones y
          recordatorios personalizados para asegurarte de cumplir tus metas de
          ahorro sin esfuerzo.
        </li>
        <li>
          <b>Análisis Detallado:</b> Obtén análisis detallados de tus hábitos de
          gasto y ahorro. Identifica áreas de mejora y toma decisiones
          informadas para alcanzar tus objetivos financieros.
        </li>
        <li>
          <b>Comunidad de Ahorradores:</b> Conéctate con otros usuarios que
          comparten tus objetivos de ahorro. Comparte consejos, logros y crea
          una red de apoyo para mantenerte motivado.
        </li>
      </ul>
      Con nuestra aplicación, el ahorro se convierte en un viaje emocionante y
      alcanzar tus metas financieras es más fácil que nunca. ¡Descárgala ahora y
      comienza a construir tu futuro financiero!
    </div>
  </div>
  <div class="row" *ngIf="data === 'pro'">
    <div class="col">
      <p>
        Bienvenido a la herramienta que te acerca a la realización de tus
        proyectos futuros. Nuestra aplicación está diseñada para empoderarte en
        la planificación financiera, permitiéndote convertir tus sueños en
        proyectos alcanzables. Desde la gestión de ingresos hasta la
        construcción de un camino financiero hacia tus aspiraciones, estamos
        aquí para guiarte en cada paso.
      </p>
      <p>Características Destacadas:</p>
      <ul>
        <li>
          <b> Planificación Estratégica:</b> Desarrolla planes estratégicos para
          tus proyectos futuros. Ya sea un viaje soñado, la compra de tu primera
          vivienda o el inicio de un nuevo emprendimiento, nuestra aplicación te
          proporciona las herramientas necesarias.
        </li>
        <li>
          <b>Presupuestos Personalizados:</b> Crea presupuestos específicos para
          cada uno de tus proyectos. Ajusta y optimiza tus gastos para asignar
          recursos de manera eficiente a tus metas a largo plazo.
        </li>
        <li>
          <b>Seguimiento Continuo:</b> Mantén un seguimiento continuo de tus
          proyectos. Recibe notificaciones y actualizaciones en tiempo real para
          asegurarte de que estás en camino hacia la realización de tus
          aspiraciones.
        </li>
        <li>
          <b>Ahorro Estratégico:</b> Implementa estrategias de ahorro
          específicas para cada proyecto. Desde fondos de emergencia hasta
          ahorros dedicados, maximiza tus recursos financieros.
        </li>
        <li>
          <b>Colaboración Social:</b> Conecta con otros usuarios que comparten
          proyectos similares. Comparte experiencias, consejos y crea una red de
          apoyo para alcanzar juntos vuestros proyectos futuros.
        </li>
      </ul>

      <p>
        Con nuestra aplicación, tus proyectos de futuro dejan de ser simples
        aspiraciones para convertirse en realidades planificadas. ¡Descárgala
        ahora y comienza a construir el camino hacia tus metas!
      </p>
    </div>
  </div>

  <div class="row" *ngIf="data === 'per'">
    <div class="col">
      <p>
        ¡Bienvenido a nuestra aplicación ficticia de planificación financiera!
        Queremos destacar que este proyecto ha sido creado exclusivamente con
        fines de presentación laboral y no tiene la intención de recopilar
        información personal. A continuación, explorarás una simulación segura y
        emocionante de la gestión de proyectos futuros.
      </p>
      <p>Características Destacadas:</p>
      <ul>
        <li>
          <b> Ambiente Seguro:</b> Disfruta de un entorno seguro diseñado
          exclusivamente con propósitos de presentación. No se recopilarán ni
          almacenarán datos personales.
        </li>
        <li>
          <b>Simulación Interactiva:</b> Explora la simulación interactiva de
          proyectos futuros. Pruébalo sin preocuparte por la confidencialidad de
          tus datos personales.
        </li>
        <li>
          <b> Datos No Reales:</b> No se aconseja ni se requiere el uso de datos
          personales reales. La aplicación es ficticia, y la interacción se
          limita a un entorno simulado.
        </li>
        <li>
          <b>Seguridad de la Información:</b> Tu privacidad es nuestra
          prioridad. No se solicitarán ni se almacenarán datos importantes para
          registros.
        </li>
        <li>
          <b>Colaboración Virtual:</b> Conéctate con otros usuarios ficticios
          para compartir experiencias simuladas y consejos virtuales. Todo
          dentro de un entorno de proyecto no oficial.
        </li>
      </ul>

      Nota Importante: Esta aplicación es una creación ficticia, diseñada
      únicamente con propósitos de presentación laboral. No se aconseja
      proporcionar información personal real. Solo se solicitará un email válido
      para confirmar la autenticidad y evitar robots. ¡Explora y experimenta sin
      preocupaciones en nuestro entorno financiero ficticio y seguro!
    </div>
  </div>
</div>
