<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<app-top-dash></app-top-dash>
<!-- <div class="row">
  <div class="col-lg-8 col-sm-12">
    <app-sales-overview></app-sales-overview>
  </div>
  <div class="col-lg-4 col-sm-12">
    <app-our-visiter></app-our-visiter>
  </div>
</div> -->

<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div class="row" *ngIf="!resp">
            <div class="body">
              <div class="preload-container">
                  <div class="loader"></div>
                  <p>Cargando...</p>
              </div>
              <div class="content">
                  <!-- El contenido de tu página va aquí -->
              </div>
          </div></div>
          <div class="row" *ngIf="resp">
  <!-- Card column -->
  <div class="col-lg-3 col-sm-12">
    <app-profile></app-profile>
    <app-contacts></app-contacts>
  </div>
  <!-- Card column -->
  <!-- Card column -->
  <div class="col-lg-9 col-sm-12">
    <app-activity-timeline></app-activity-timeline>
  </div>
</div>
